.orders-heading {
    margin-top: 10vh;
}

.order-heading {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}
.select-order {
    align-self: flex-end;
    margin-right: 0.1vw;
    height: 3vh;
    width: 7vw;
    text-align: center;
    font-size: 1.5vh;
    border: solid black 0.2vh;
    
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  gap: 1vw;
  font-family: 'Poppins', sans-serif;
}

.pagination-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5vw 0.8vh;
  border-radius: 0.6vh;
  cursor: pointer;
  font-size: 1.3vh;
  transition: all 0.2s ease-in-out;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  gap: 1vw;
}

.page-btn {
  /* border: ; */
  background: white;
  height: 3vh;
  width: 2vw;
  color: #007bff;
  border-radius: 0.5vh;
  /* padding: 6px 10px; */
  cursor: pointer;
  font-size: 1.5vh;
  transition: all 0.2s ease-in-out;
}

.page-btn:hover {
  background-color: #007bff;
  color: white;
}

.page-btn.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transform: scale(1.05);
}


.orders-table {
    width: 60vw;
    margin-top: 1vh;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1.9vh;
    box-shadow: 0 0.2vh 0.8vh rgba(0, 0, 0, 0.5);
    border-radius: 0.5vh;
    overflow: hidden;
}

.orders-table thead {
    background-color: #1e1e1e;
    color: white;
    text-align: left;
}

.orders-table th, .orders-table td {
    padding:  2vh 1vw;
}

.orders-table tbody tr {
    border-bottom: 0.5vh solid #e5e5e5;
}

.orders-table tbody tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
    cursor: pointer;
}


.delete-cell {
    text-align: center;
}
.delete-order-btn {
    background-color: #d66262;
    color: white;
    height: 3vh;
    width: 4vw;
    border-radius: 0.4vh;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-order-btn:hover {
    background-color: #b91c1c;;
}